<html>

<head>
    <title>My first web page for ROS!</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Bootstrap switch button -->
    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap-switch-button@1.1.0/css/bootstrap-switch-button.min.css"
        rel="stylesheet">
    <script
        src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap-switch-button@1.1.0/dist/bootstrap-switch-button.min.js"></script>
    <!-- Vuejs 3-->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- Roslibjs -->
    <script src="https://s3.eu-west-1.amazonaws.com/rosject.io/js/roslib.min.js"></script>
    <!-- this roslib version works for the Construct -->
    <!--script>"https://cdn.jsdelivr.net/npm/roslib@1/build/roslib.min.js"</script-->
    <script type="text/javascript">
        console.log("Hello from JavaScript")
    </script>

    <script type="text/javascript" defer>
        // We could have loaded main.js simply with:
        //  <script type="text/javascript" src="main.js">
        //
        // BUT we were having caching-related problems.
        // Loading main.js with a Date.now() in the URL we avoid using cache

        var script = document.createElement('script');
        script.type = 'text/javascript';
        script.src = 'main.js?v=2.' + Date.now();
        document.head.appendChild(script);
    </script>

    </script>

    <style type="text/css">
        #dragstartzone {
            position: relative;
            display: inline-block;
            width: 200px;
            height: 200px;
            border: 1px solid #333;
            border-radius: 50%;
            z-index: 10;
            -moz-user-select: -moz-none;
            -khtml-user-select: none;
            -webkit-user-select: none;
        }

        #dragCircle {
            position: absolute;
            z-index: 9;
            border: 1px solid transparent;
            border-radius: 50%;
            background-color: rgba(67, 231, 152, 0.546);
            -moz-user-select: -moz-none;
            -khtml-user-select: none;
            -webkit-user-select: none;
        }

        #dragCircle:hover {
            background-color: lightcoral;
        }
    </style>

</head>

<body id="vueApp" class="d-flex flex-column h-100">
    <!-- header of the page -->
    <header class="header">
        <div class="container">
            <div class="jumbotron text-center">
                <h3>Connection Status</h3>
                <!-- input for ROS address -->
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="ROSbridge Address"
                        aria-label="ROSbridge Address" aria-describedby="button-addon2" :value="rosbridge_address"
                        @input="get_address" />
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" id="button-addon2" @click="toggle">{{
                            status }}</button>
                    </div>
                </div>
                <!-- connection status-->
                <div v-if="connected" class="alert alert-success" role="alert">
                    Connected!
                </div>
                <div v-else class="alert alert-warning" role="alert">
                    Disconnected!
                </div>
                <!-- flag to select real/sim robot -->
                <div class="form-group">
                    <label for="EnvironmentID">Environment</label>
                    <select class="form-control text-center" id="EnvironmentID" :value="selectedEnvi"
                        @input="onSelectEnvi">
                        <option>Simulated Robot</option>
                        <option>Real Robot</option>
                    </select>

                </div>
            </div>
        </div>
    </header>

    <!-- main content -->
    <main>
        <!-- all contents place here -->
        <div class="container-fluid">
            <div class="row">
                <!-- Left -->
                <div class="col-sm-4">
                    <div class="card bg-light">
                        <div class="card-body">
                            <h3 class="card-title text-center">{{main_title3}}</h3>
                            <!-- Fetch -->
                            <div class="col-12 text-center">

                                <button class="btn btn-primary " @click="get_topics"
                                            :disabled="!connected">Fetch topics</button>
                                <ul class="list-group">
                                    <li class="list-group-item" :class="{ 'text-success': topicAvailable(velTopic) && connected, 'text-warning': !topicAvailable(velTopic) || !connected }">cmd_vel</li>
                                    <li class="list-group-item" :class="{ 'text-success': topicAvailable(liftUpTopic) && connected, 'text-warning': !topicAvailable(liftUpTopic) || !connected}">elevator_up</li>
                                    <li class="list-group-item" :class="{ 'text-success': topicAvailable(liftDownTopic) && connected, 'text-warning': !topicAvailable(liftDownTopic) || !connected}">elevator_down</li>
                                    <li class="list-group-item" :class="{ 'text-success': topicAvailable(clickedPoint) && connected, 'text-warning': !topicAvailable(clickedPoint) || !connected}">clicked_point</li>
                                </ul>
                                <br><br>
                                <button class="btn btn-primary " @click="get_services"
                                            :disabled="!connected">Fetch services</button>
                                <ul class="list-group">
                                    <li class="list-group-item" :class="{ 'text-success': serviceAvailable(shelfDetectSrv) && connected, 'text-warning': !serviceAvailable(shelfDetectSrv) || !connected}">detection server</li>
                                    <li class="list-group-item" :class="{ 'text-success': serviceAvailable(shelfAttachSrv) && connected, 'text-warning': !serviceAvailable(shelfAttachSrv) || !connected}">attach server</li>
                                    <li class="list-group-item" :class="{ 'text-success': serviceAvailable(shelfDetachSrv) && connected, 'text-warning': !serviceAvailable(shelfDetachSrv) || !connected}">detach server</li>
                                    <li class="list-group-item" :class="{ 'text-success': serviceAvailable(backUpSrv) && connected, 'text-warning': !serviceAvailable(backUpSrv) || !connected}">backup server</li>
                                    <li class="list-group-item" :class="{ 'text-success': serviceAvailable(btService) && connected, 'text-warning': !serviceAvailable(btService) || !connected}">autonomy server</li>
                                </ul>

                            </div>
                        
                        
                        </div>
                    
                    
                    </div>
                
                
                </div>
                <!-- Middle -->
                <div class="col-sm-4">
                    <div class="card bg-light">
                        <div class="card-body">
                            <h3 class="card-title text-center">{{main_title1}}</h3>
                            <br />

                            <div class="row">
                                <!-- Speed setting -->
                                <div class="col-12 text-center">
                                    <h5 class="text-center">Elevator</h5>
                                    <input id="chkSwitch1" type="checkbox" data-toggle="switchbutton"/>
                                    <br><br>

                                </div>

                                <!-- Joystick -->
                                <div class="col-12 text-center">
                                    <hr>
                                    <h5 class="text-center">Joystick</h5>
                                    <div id="dragstartzone" @mousedown="startDrag" @mousemove="doDrag">
                                    </div>
                                    <div id="dragCircle" :style="dragCircleStyle"></div>
                                </div>

                                <!-- Home -->
                                <div class="col-12 text-center">
                                    <hr>
                                    <button class="btn btn-primary" @click="request_home"
                                                :disabled="!connected || !serviceIdleState">Go to home</button>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- Right -->
                <div class="col-sm-4">
                    <div class="card bg-light">
                        <div class="card-body">
                            <h2 class="text-center">{{main_title2}}</h2>
                            <br><br>
                            <div class="row justify-content-md-center">
                                <!-- detect shelf BT: send service to check whether shelf is found -->
                                <!-- request: bt xml | response: bt status -->
                                <div class="col-xs-4 text-center">
                                    <!-- use input with button -->
                                    <div class="card">
                                        <div class="card-header">
                                            Detect Cart
                                        </div>
                                        <div class="card-body">
                                            <button class="btn btn-primary" @click="request_bt1"
                                                :disabled="!connected || !serviceIdleState">Send
                                                Request</button>
                                        </div>
                                        <div class="card-footer text-muted">
                                            <p v-if="serviceIdleState">{{ serviceResponse1 }}</p>
                                            <p v-else>BT is running...</p>
                                        </div>

                                    </div>
                                </div>

                                <!-- go to shelf BT: send service to call the robot to shelf -->
                                <!-- request: bt xml | response: bt status -->
                                <div class="col-xs-4 text-center">

                                    <div class="card">
                                        <div class="card-header">
                                            Go To Cart
                                        </div>
                                        <div class="card-body">
                                            <button class="btn btn-primary" @click="request_bt2"
                                                :disabled="!connected || !serviceIdleState">Send
                                                Request</button>
                                        </div>
                                        <div class="card-footer text-muted">
                                            <p v-if="serviceIdleState">{{ serviceResponse2 }}</p>
                                            <p v-else>BT is running...</p>
                                        </div>

                                    </div>
                                </div>

                                <!-- attach shelf BT: send service to attach shelf -->
                                <!-- request: bt xml | response: bt status -->
                                <div class="col-xs-4 text-center">

                                    <div class="card">
                                        <div class="card-header">
                                            Attach Cart
                                        </div>
                                        <div class="card-body">
                                            <button class="btn btn-primary" @click="request_bt3"
                                                :disabled="!connected || !serviceIdleState">Send
                                                Request</button>
                                        </div>
                                        <div class="card-footer text-muted">
                                            <p v-if="serviceIdleState">{{ serviceResponse3 }}</p>
                                            <p v-else>BT is running...</p>
                                        </div>

                                    </div>
                                </div>

                                <!-- detach shelf BT: send service to detach shelf -->
                                <!-- request: bt xml | response: bt status -->
                                <div class="col-xs-4 text-center">

                                    <div class="card">
                                        <div class="card-header">
                                            Detach Cart
                                        </div>
                                        <div class="card-body">
                                            <button class="btn btn-primary" @click="request_bt4"
                                                :disabled="!connected || !serviceIdleState">Send
                                                Request</button>
                                        </div>
                                        <div class="card-footer text-muted">
                                            <p v-if="serviceIdleState">{{ serviceResponse4 }}</p>
                                            <p v-else>BT is running...</p>
                                        </div>

                                    </div>
                                </div>

                            </div>
                            <br><br>
                            <!-- Full bt -->
                            <div class="row justify-content-md-center">
                                <div class="col-xs-6">
                                    <div class="card text-center">
                                        <div class="card-header">
                                            Full BT
                                        </div>
                                        <div class="card-body">
                                            <button class="btn btn-primary" @click="request_bt_full"
                                                :disabled="!connected || !serviceIdleState">Send
                                                Request</button>
                                        </div>
                                        <div class="card-footer text-muted">
                                            <p v-if="serviceIdleState">{{ serviceResponseFull }}</p>
                                            <p v-else>BT is running...</p>
                                        </div>

                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- footer -->
    <footer class="footer mt-auto bg-dark text-light">

    </footer>

</body>

</html>